{% extends "main/base.html" %}

{# Without the static tag, static files cannot be used #}
{# {% load static%} #}

{% block content %}

<h1>Answer for {{ form.instance.question }}</h1>
<div>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{ title }}</legend>

            {{ form.non_field_errors }}

            {% for hidden_field in form.hidden_fields %}
            {{ hidden_field.errors }}
            {{ hidden_field }}
            {% endfor %}

            <table border="1">
                {% for field in form.visible_fields %}
                <tr>
                    <th>{{ field.label_tag }}</th>
                    <td>
                        {{ field.errors }}
                        {{ field }}
                        {{ field.help_text }}
                    </td>
                </tr>
                {% endfor %}
            </table>

        </fieldset>
    </form>
</div>

{% endblock %}