{% extends "main/base.html" %}

{# Without the static tag, static files cannot be used #}
{% load static%}

{% block content %}

<div class="container">
    <div class="box">
        <h1 class="title">Answer for {{ form.instance.question }}</h1>
        <h2>For vehicle {{ form.instance.vehicle.name }}</h2>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset>
    
                {{ form.non_field_errors }}
    
                {% for hidden_field in form.hidden_fields %}
                {{ hidden_field.errors }}
                {{ hidden_field }}
                {% endfor %}
    
                {% for field in form.visible_fields %}
                <div class="field">
                    {% if field.widget_type == 'checkbox' %}

                    <div class="field">
                        <div class="control">
                            <label class="checkbox">
                                <input type="checkbox" name="{{ field.name }}" id="{{ field.auto_id }}"{% if field.field.required %} required{% endif %}{% for attr in field.field.widget.attrs %} {{ attr }}="{{ field.field.widget.attrs|dict_index:attr }}"{% endfor %}>
                                {{ field.label }}
                            </label>
                        </div>
                    </div>
                    {% else %}
                    <label class="label" for="{{ field.auto_id }}">{{ field.label }}</label>
                    <div class="control">
                        {% for error in field.errors %}
                        <p class="help is-danger">{{ error }}</p>
                        {% endfor %}
                        {% if field.widget_type == 'select' %}
                        <div class="select">
                            {{ field }}
                        </div>
                        {% elif field.widget_type == 'selectmultiple' %}
                        <div class="select is-multiple">
                            {{ field }}
                        </div>                    
                        {% else %}
                        {{ field }}
                        {% endif %}
                        {% if field.help_text %}
                        <p class="help">{{ field.help_text }}</p>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
    
            </fieldset>
        </form>
    </div>
</div>
<script src="{% static 'main/js/read_only.js' %}"></script>

{% endblock %}