{% load static%}
<!DOCTYPE html>
<html>

<head>
    {% block header %}{% endblock %}
</head>

<body>
    <nav>
        <ul>
            <li><a href="{% url 'main-home' %}"><strong>MovereFleet</strong></a></li>
        </ul>
        <ul>
            {% if user.is_authenticated %}
                {% with position_type=user.profile.position_type %}
                    {% if position_type == 1 %} {# driver #}
                    {% endif %}
                    {% if position_type == 2 %} {# mechanic #}
                    {% endif %}
                    {% if position_type >= 3 %} {# admin and su #}
                    <li><strong>Checklists</strong>
                        <ul>
                            <li><a href="{% url 'main-create_checklist' %}">Create checklist</a></li>
                            <li><a href="#">Edit checklists</a></li>
                            <li><a href="#">Assign checklist</a></li>
                        </ul>
                    </li>
                    <li><strong>Vehicles</strong>
                        <ul>
                            <li><a href="#">Create vehicle</a></li>
                            <li><a href="#">Edit vehicle</a></li>
                            <li><a href="#">Vehicle info</a></li>
                        </ul>
                    </li>
                    <li><strong>Companies</strong>
                        <ul>
                            <li><a href="#">Create company</a></li>
                            <li><a href="#">Edit company</a></li>
                            <li><a href="#">Company info</a></li>
                        </ul>
                    </li>
                    {% endif %}
                    {% if position_type == 4 %} {# su #}
                    <li><a href="{% url 'admin:index' %}">Admin</a></li>
                    {% endif %}
                    <li>-</li>
                {% endwith %}
                <li><a href="{% url 'user-profile' %}">Profile</a></li>
                <li><a href="{% url 'user-logout' %}?next={% url 'main-home' %}">Log Out</a></li>
            {% else %}
                <li><a href="{% url 'user-login' %}">Log In</a></li>
                <li><a href="{% url 'user-register' %}">Register</a></li>
            {% endif %}
        </ul>
    </nav>
    {% block content %}{% endblock %}

</body>

</html>