{% extends "main/base.html" %}

{# Without the static tag, static files cannot be used #}
{% load static %}

{% block content %}
<h1>Checklist Questions List</h1>
<div>
    <ul>
        {% for checklist in checklists %}
        <li><a href="{% url 'main-checklist_update' checklist_id=checklist.id %}?next={% url 'main-checklist' %}">{{ checklist.name }}</a></li>
        {% endfor %}
    </ul>
</div>
<a href="{% url 'main-checklist_add' %}?next={% url 'main-checklist' %}">Add</a>

{% endblock content %}