{% extends "main/base.html" %}

{# Without the static tag, static files cannot be used #}
{# {% load static%} #}

{% block content %}
<div class="container m-3">
    <div class="column"><a href="{% url 'main-answer_session' vehicle_id=vehicle.id session_type=0 page=0 %}" class="button is-link">{{ vehicle.name }} - Generic</a></div>
    <div class="column"><a href="{% url 'main-answer_session' vehicle_id=vehicle.id session_type=1 page=0 %}" class="button is-link">{{ vehicle.name }} - Get On</a></div>
    <div class="column"><a href="{% url 'main-answer_session' vehicle_id=vehicle.id session_type=2 page=0 %}" class="button is-link">{{ vehicle.name }} - Get Off</a></div>
</div>
{% endblock content %}
