{% extends "main/base.html" %}

{# Without the static tag, static files cannot be used #}

{% block content %}
<div class="mx-3">
    <a class="button mb-3 is-rounded is-danger is-outlined is-small" href="{% url 'main-home' %}">Atrás</a>
    <h1 class="title">{{ vehicle.name }}</h1>
    <div class="box m-3">
    {% for question_type in session_types %}
        <div class="container mt-3 mb-3"><a href="{% url 'main-answer_session' vehicle_id=vehicle.id question_type_id=question_type.0 %}" class="button is-primary">{{ question_type.1 }}</a></div>
    {% endfor %}
    </div>
</div>
{% endblock content %}