{% extends "main/base.html" %}

{# Without the static tag, static files cannot be used #}
{# {% load static%} #}

{% block content %}

<h1>{{ vehicle.name }}</h1>
<h3>Question: {{ form.instance.question }}</h3>
<div>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{ title }}</legend>

            {{ form.non_field_errors }}

            {% for hidden_field in form.hidden_fields %}
            {{ hidden_field.errors }}
            {{ hidden_field }}
            {% endfor %}

            <table border="1">
                {% for field in form.visible_fields %}
                <tr>
                    <th>{{ field.label_tag }}</th>
                    <td>
                        {{ field.errors }}
                        {{ field }}
                        {{ field.help_text }}
                    </td>
                </tr>
                {% endfor %}
            </table>

        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Next {{ curr_page|add:1 }}/{{ last_page|add:1 }}</button>
        </div>
    </form>
</div>
<script>
    const problem_description = document.getElementById('id_problem_description');
    const answer = document.getElementById('id_answer');

    function allowProblemDescription(val){
        if (val) {
            problem_description.setAttribute('disabled', 'true');
        } else {
            problem_description.removeAttribute('disabled');
        }
    }

    allowProblemDescription(answer.checked);
    answer.addEventListener('change', () => {
        allowProblemDescription(answer.checked)
    });

    function onSubmit(e) {
        e.preventDefault();
        if (answer.checked) {
            problem_description.value = '';
        }
        document.getElementsByTagName('form')[0].requestSubmit();
    }
</script>
{% if question_instance %}
<a href="{% url 'main-question_delete' model_id=model.id %}?next={% url 'main-question' %}">Delete</a>
{% endif %}

{% endblock content %}