{% extends "main/base.html" %}

{# Without the static tag, static files cannot be used #}
{# {% load static%} #}

{% block content %}
<div class="container">
    <h1>{{ title }}</h1>
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">

            {{ form.non_field_errors }}

            {% for hidden_field in form.hidden_fields %}
            {{ hidden_field.errors }}
            {{ hidden_field }}
            {% endfor %}

            {% for field in form.visible_fields %}
            <div class="field">
                <label class="label" for="{{ field.auto_id }}">{{ field.label }}</label>
                <div class="control">
                    {% for error in field.errors %}
                    <p class="help is-danger">{{ error }}</p>
                    {% endfor %}
                    {% if field.widget_type == 'select' %}
                    <div class="select">
                        {{ field }}
                    </div>
                    {% elif field.widget_type == 'selectmultiple' %}
                    <div class="select is-multiple">
                        {{ field }}
                    </div>
                    {% else %}
                    {{ field }}
                    {% endif %}
                    {% if field.help_text %}
                    <p class="help">{{ field.help_text }}</p>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
            <br>
            {% if model %}
            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-link is-outlined" type="submit">{{ ok_button_text }}</button>
                </div>
                <div class="control">
                    <button id="open-delete-modal" class="button is-danger">Delete</button>
                </div>
            </div>
            {% else %}
            <div class="field">
                <div class="control">
                    <button class="button is-link" type="submit">{{ ok_button_text }}</button>
                </div>
            </div>
            {% endif %}
        </fieldset>
    </form>
</div>
{% if model %}
<div id="modal-delete" class="modal">
    <div class="modal-background modal-closer"></div>
    <div class="modal-content">
        <header class="modal-card-head">
            <p class="modal-card-title">Are you sure you want to delete &ldquo;{{ model.question }}&rdquo;</p>
            <button class="delete modal-closer" aria-label="close"></button>
        </header>
        <footer class="modal-card-foot">
            <a class="button is-danger" id="delete-button">Delete</a>
            <button class="button modal-closer">Cancel</button>
        </footer>
    </div>
</div>
<script>
    document.getElementById('delete-button').addEventListener('click', function() {
        location.replace("{% url 'main-question_delete' model_id=model.id %}?next={% url 'main-question' %}");
    });
    const modal = document.getElementById('modal-delete');
    document.getElementById('open-delete-modal').addEventListener('click', function(event) {
        event.preventDefault();
        modal.classList.add('is-active');
    })
    function closeModal() {
        modal.classList.remove('is-active');
    }
    Array.prototype.forEach.call(document.getElementsByClassName('modal-closer'), function(event) {
        event.addEventListener('click', function() {
            closeModal();
        });
    });
    document.addEventListener('keydown', (event) => {
        const e = event || window.event;
        if (e.keyCode === 27) { // Escape key
            closeModal();
        }
    });
</script>
{% endif %}
{% if set_input_dates_now %}
    {# Without the static tag, static files cannot be used #}
    {% load static %}

    <script src="{% static 'main/js/set_dates_now.js' %}"></script>
{% endif %}
{% endblock %}