{% extends "main/base.html" %}

{# Without the static tag, static files cannot be used #}
{% load static %}

{% block header %}
<!-- <link rel="stylesheet" href="{% static 'main/css/bulma-checkradio.min.css' %}"> -->
<script src="{% static 'main/js/on_load.js' %}"></script>
{% endblock %}
{% load index %}

{% block content %}
<div class="container is-fluid">
    <span class="tag is-medium is-primary is-rounded">{{ curr_page|add:1 }}/{{ last_page|add:1 }}</span><br><br>
    <progress class="progress is-primary" value="{{ curr_page|add:1 }}" max="{{ last_page|add:1 }}"></progress>
    <div class="box">
        <h1 class="title">{{ form.instance.question }}</h1>
        <h2 class="subtitle">{{ vehicle.name }}</h2>
        {% if form.instance.question_template %}
        {% if form.instance.question_template.info|length > 0 %}
        <textarea class="textarea" readonly rows="2">{{ form.instance.question_template.info }}</textarea>
        {% endif %}
        {% endif %}
        <form method="POST">
            {% csrf_token %}
            <fieldset>
                <br>
    
                {{ form.non_field_errors }}
    
                {% for hidden_field in form.hidden_fields %}
                {{ hidden_field.errors }}
                {{ hidden_field }}
                {% endfor %}
    
                {% for field in form.visible_fields %}
                <div class="field">
                    {% if field.widget_type == 'checkbox' %}

                    <div class="field">
                        <div class="control">
                            <label class="checkbox">
                                <input type="checkbox" name="{{ field.name }}" id="{{ field.auto_id }}"{% if field.field.required %} required{% endif %}{% for attr in field.field.widget.attrs %} {{ attr }}="{{ field.field.widget.attrs|dict_index:attr }}"{% endfor %}>
                                {{ field.label }}
                            </label>
                        </div>
                    </div>
                    {% elif field.widget_type == 'radioselect' %}
                    <div id="radio-buttons">
                    <label class="label" for="{{ field.name }}_id">{{ field.label }}</label>
                    {% for radio in field %}
                    <div><label for="{{ radio.id_for_label }}" class="radio-label">
                        <span class="radio">{{ radio.tag }}</span>
                        {{ radio.choice_label }}
                    </label></div>
                    {% endfor %}
                    </div>
                    {% else %}
                    <label class="label" for="{{ field.auto_id }}">{{ field.label }}</label>
                    <div class="control">
                        {% for error in field.errors %}
                        <p class="help is-danger">{{ error }}</p>
                        {% endfor %}
                        {% if field.widget_type == 'select' %}
                        <div class="select">
                            {{ field }}
                        </div>
                        {% elif field.widget_type == 'selectmultiple' %}
                        <div class="select is-multiple">
                            {{ field }}
                        </div>                    
                        {% else %}
                        {{ field }}
                        {% endif %}
                        {% if field.help_text %}
                        <p class="help">{{ field.help_text }}</p>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
            </fieldset>
            <br>
            <div class="field is-grouped">
                {% if curr_page > 0 %}
                <div class="control">
                    <button class="button is-danger" type="button" id="submit-button" onclick="goBack()">Back</button>
                </div>
                {% endif %}
                <div class="control">
                    <button class="button is-primary" type="submit" id="submit-button">Next</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    const problemDescription = document.getElementById('id_problem_description');

    function allowProblemDescription(state) {
        if (state) {
            problemDescription.removeAttribute('disabled');
        } else {
            problemDescription.setAttribute('disabled', 'true');
        }
    }

    const radioButtonsParent = document.getElementById('radio-buttons');
    document.querySelectorAll('input[type="radio"]').forEach(function(e) {
        e.addEventListener('click', function(evt) {
            checkedValue = radioButtonsParent.querySelector('input[type="radio"]:checked').value;
            allowProblemDescription(checkedValue == "False");
        });
    });

    function goBack() {
        window.location.href = window.location.href.split('?')[0] + '?page={{ curr_page|add:-1 }}';
    }

    onLoad(function() {
        allowProblemDescription(false);
    });
</script>
{% endblock %}