{% extends "main/base.html" %}

{# Without the static tag, static files cannot be used #}
{% load static %}

{% block content %}
<style>
    .disabled-link {
      pointer-events: none;
      color: gray;
    }
    </style>
<h1>Questions List</h1>
<div>
    <ul>
        {% for vehicle in vehicles %}
        <li><strong>vehicle.name</strong></li>
        <ul>
            {% for (question, should_be_instantiated) in questions[vehicle.id] %}
                {% if should_be_instantiated %} {# if should be instatiated #}
                    <li><a href="#">question.question</a></li>
                {% else %}
                    <li><a href="#" class="disabled-link">question.question</a></li>
                {% endif %}
            {% endfor %}
        </ul>
        {% endfor %}
    </ul>
</div>

{% endblock content %}