{% extends "main/base.html" %}

{# Without the static tag, static files cannot be used #}
{% load static%}

{% block header %}
<link rel="stylesheet" href="{% static 'main/css/bulma-checkradio.min.css' %}">
<script src="{% static 'main/js/on_load.js' %}"></script>
{% endblock %}
{% load index %}

{% block content %}
<div class="container is-fluid">
    <progress class="progress is-primary" value="{{ curr_page|add:1 }}" max="{{ last_page|add:1 }}"></progress>
    <div class="box">
        <h1 class="title">{{ form.instance.question }}</h1>
        <h2 class="subtitle">{{ vehicle.name }}</h2>
        {% if form.instance.question_template %}
        {% if form.instance.question_template.info|length > 0 %}
        <textarea class="textarea" readonly rows="2">{{ form.instance.question_template.info }}</textarea>
        {% endif %}
        {% endif %}
        <form method="POST">
            {% csrf_token %}
            <fieldset>
                <br>
    
                {{ form.non_field_errors }}
    
                {% for hidden_field in form.hidden_fields %}
                {{ hidden_field.errors }}
                {{ hidden_field }}
                {% endfor %}
    
                {% for field in form.visible_fields %}
                <div class="field">
                    {% if field.widget_type == 'checkbox' %}

                    <div class="field">
                        <div class="control">
                            <label class="checkbox">
                                <input type="checkbox" name="{{ field.name }}" id="{{ field.auto_id }}"{% if field.field.required %} required{% endif %}{% for attr in field.field.widget.attrs %} {{ attr }}="{{ field.field.widget.attrs|dict_index:attr }}"{% endfor %}>
                                {{ field.label }}
                            </label>
                        </div>
                    </div>
                    {% else %}
                    <label class="label" for="{{ field.auto_id }}">{{ field.label }}</label>
                    <div class="control">
                        {% for error in field.errors %}
                        <p class="help is-danger">{{ error }}</p>
                        {% endfor %}
                        {% if field.widget_type == 'select' %}
                        <div class="select">
                            {{ field }}
                        </div>
                        {% elif field.widget_type == 'selectmultiple' %}
                        <div class="select is-multiple">
                            {{ field }}
                        </div>                    
                        {% else %}
                        {{ field }}
                        {% endif %}
                        {% if field.help_text %}
                        <p class="help">{{ field.help_text }}</p>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
            </fieldset>
            <br>
            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-primary" type="submit" id="submit-button">Next {{ curr_page|add:1 }}/{{ last_page|add:1 }}</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    const problem_description = document.getElementById('id_problem_description');
    const answer = document.getElementById('id_answer');

    function allowProblemDescription(val){
        if (val) {
            problem_description.setAttribute('disabled', 'true');
        } else {
            problem_description.removeAttribute('disabled');
        }
    }

    allowProblemDescription(answer.checked);
    answer.addEventListener('change', function() {
        allowProblemDescription(answer.checked)
    });

    function onSubmit(e) {
        e.preventDefault();
        if (answer.checked) {
            problem_description.value = '';
        }
        document.getElementsByTagName('form')[0].requestSubmit();
    }
</script>
{% endblock %}
